body {
  margin: 0;
  padding: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: rgba(165, 42, 42, 0.035);
}
h1, h2 {
  padding: 5pt;
}

h1 {
  
}
p {
  font-size: larger;
}

.blog-post {
  padding: 10px;
  background-color: rgba(240, 128, 128, 0.056);
}
